// index.scss

.hero {

    .hero__text {
        padding: 20px;

    h1 {
        font-size: 45px;
    }

    .hero__title__emphasis {
        color: $violet;
    }

    p {
        font-size: 19px;
        line-height: 27px;
    }
    }

    .hero__image {
        width: 100%;

        img {
            width: 100%;
        }
    }
}