.main-app-menu {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 15px;

    .main-app-menu__actions {
        display: flex;
        gap: 26px;
        align-items: center;
    }
}