<div class="hero">
    <div class="hero__text">
    <h1>
        We Help to <span class="hero__title__emphasis">Build</span> Your Dream
    </h1>
    
    <p>
        We are always availed to consult on taking your higher education to the next level so you can stay competitive
    </p>
    
    {% include "buttons/violetFilledButton.html" %}
    {% include "buttons/socialButtons.html" %}
    
    </div>
    <div class="hero__image" >
        <img src="img/student.png" alt="Smiling young woman wearing a graduation cap and gown, holding a stack of books against a backdrop with a purple curved shape" />
    </div>
</div>