<div class="our-services">

    <h1>Our Services</h1>

    <p>Executive Trade Internatuonal is an University Application Centre, guiding Bangladeshi students to Australian, British, Canadian and Irish universities!</p>

    <div class="our-services__list">
        <div class="our-services__list__item">
            <div class="our-services__list__item__icon">
                <img src="img/our-services/s1.png" />
            </div>
            <div class="our-services__list__item__title">
                Career Counselling
            </div>
            <div class="our-services__list__item__description">
                Maiores voluptas laboriosam non dolorum perferendis fuga repellat aut. Blanditiis quos in
            </div>
            <div class="our-services__list__item__learn-more-link">
                <a href="#">Learn More</a> 
            </div>
        </div>
        <div class="our-services__list__item">
            <div class="our-services__list__item__icon">
                <img src="img/our-services/s2.png" />
            </div>
            <div class="our-services__list__item__title">
                Career Counselling
            </div>
            <div class="our-services__list__item__description">
                Maiores voluptas laboriosam non dolorum perferendis fuga repellat aut. Blanditiis quos in
            </div>
            <div class="our-services__list__item__learn-more-link">
                <a href="#">Learn More</a> 
            </div>
        </div>
        <div class="our-services__list__item">
            <div class="our-services__list__item__icon">
                <img src="img/our-services/s3.png" />
            </div>
            <div class="our-services__list__item__title">
                Career Counselling
            </div>
            <div class="our-services__list__item__description">
                Maiores voluptas laboriosam non dolorum perferendis fuga repellat aut. Blanditiis quos in
            </div>
            <div class="our-services__list__item__learn-more-link">
                <a href="#">Learn More</a> 
            </div>
        </div>
        <div class="our-services__list__item">
            <div class="our-services__list__item__icon">
                <img src="img/our-services/s4.png" />
            </div>
            <div class="our-services__list__item__title">
                Career Counselling
            </div>
            <div class="our-services__list__item__description">
                Maiores voluptas laboriosam non dolorum perferendis fuga repellat aut. Blanditiis quos in
            </div>
            <div class="our-services__list__item__learn-more-link">
                <a href="#">Learn More</a> 
            </div>
        </div>
        <div class="our-services__list__item">
            <div class="our-services__list__item__icon">
                <img src="img/our-services/s5.png" />
            </div>
            <div class="our-services__list__item__title">
                Career Counselling
            </div>
            <div class="our-services__list__item__description">
                Maiores voluptas laboriosam non dolorum perferendis fuga repellat aut. Blanditiis quos in
            </div>
            <div class="our-services__list__item__learn-more-link">
                <a href="#">Learn More</a> 
            </div>
        </div>
    </div>

</div>