<div class="subscribe-form">
    <h1>Subscribe to our newsletter</h1>


    <form>
        <div class="subscribe-form__input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required minlength="1" placeholder="Name">
        </div>
        <div class="subscribe-form__input">
            <label for="surname">Surname</label>
            <input type="text" id="surname" name="surname" required minlength="1" placeholder="Surname">
        </div>
        <div class="subscribe-form__input">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required minlength="1" placeholder="Email">
        </div>

        <div class="subscribe-form__submit">
            <button onclick="submitForm()">Subscribe&nbsp;&rarr;</button>
        </div>
    </form>
    
</div>