.subscribe-form {
    padding: $global-padding;

    padding-bottom: 100px;

    h1 {
        text-align: center;
        @include md {
            padding-bottom: 30px;
            font-size: 40px;
        }
    }

    @include md {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {

        .subscribe-form__input {

            margin-bottom: 30px;

            label {
                padding: 0 0 10px 10px;
                display: block;
            }
    
            input {
                display: block;
                width: 100%;
                padding: 15px;
                font-size: 19px;
                border: 1px solid #DFE3E9;
                border-radius: 5px;

            }

            .just-validate-error-field {
                border-color: red;
            }

            .just-validate-error-label {
                font-size: 14px;
                padding-top: 10px;
                padding-left: 10px;
            }
        }

        @include md {
            width: 350px;
            background: white;
            box-shadow: 0 0 300px rgba(0,0,0,0.05);
            padding: 60px 100px 60px 100px;
            border-radius: 20px;
        }
    }
}